<h1>Listing sql_injection_queries</h1>

<table>
  <tr>
    <th>Query</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sql_injection_queries.each do |sql_injection_query| %>
  <tr>
    <td><%= sql_injection_query.query %></td>
    <td><%= link_to 'Show', sql_injection_query %></td>
    <td><%= link_to 'Edit', edit_sql_injection_query_path(sql_injection_query) %></td>
    <td><%= link_to 'Destroy', sql_injection_query, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sql injection query', new_sql_injection_query_path %>
