<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @site.url %>
</p>

<p>
  <b>Status:</b>
  <%= @site.status %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
